html{
    font-family: inter, san-serif;
}
body{
    background-color: #1a1c19;
}
.navdiv{
    width: 100%;
    height: auto;
    border: 1px solid #B1A592;
    border-radius: 50px;
    display: flex;
    flex-direction: rows;
    gap: 5px;
    padding: 1px;
}
.navComponent{
    width: 130px;
    height: auto;
    border: 1px solid #B1A592;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin: 1px;
    
    color:  #B1A592;
    font-size: 24px;
    
}
.navComponent:hover{
    background-color:  #B1A592;
    color: #1a1c19;
}
.firstNavComponent{
    width: 25%;
    height: auto;
    margin: 1px;
    padding: 10px;
    text-align: center;
    background-color: #323025; 
    color: #B1A592;
    border: none;
    border-radius: 50px;
    font-size: 24px;
}
.lastNavComponent{
    margin-left: auto;
    margin-right: 1px; 
}




#content{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-areas: "a b b" "a c d" "a c d";
    grid-template-rows: 35%;
    grid-template-columns: 40% 30% 30%;
}

.contentsection{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    
}

#a{
    grid-area: a;
    background-color: #dfd6c5;
    
}
#a h1{
    font-size: 24px;
}
#aImageDiv{
    border: 1px solid black;
    height: 80%;
}


#b{
    grid-area: b;
    background-color: #8E886D;
}
#b h1{
    font-size: 24px;
}
#bContentDiv{
    
    display: flex;
    flex-direction: rows;
    grid-template-colums: 50%;
    
    width: 100%;
    height: 80%;
}
#bImageDiv{
    grid-area: "img";
    
    border-radius: 20px;
    width: 50%;
    height: 75%;
    margin: auto;
}
#bImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}
#bParaDiv{
    grid-area: "para";
    width: 50%;
}
#bParaHead{
    
}
#b hr{
    margin:0px;
    padding: 0px;
}
#bfooter{
    margin-top: none;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    
}
#bfooter p{
    margin: none;
}

#c{
    grid-area: c;
    background-color: #916E58;
}

#c{
    display: flex;
    flex-direction: column;
}
#cImage{
    border-radius: 20px;

}
#cImageDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#cHeading{
    font-size: 36px;
    
}
#cFooter{
    border: 1px solid balck;
}


#d{
    grid-area: d;
    background-color: #B1A48E;
}
#d h1{
    font-size: 36px;
}
#dImageDiv{
    width: 100%;
    height: 100%;
    text-align: right;
}

#dImageDiv img{
    border-radius: 50%;
    width: 75%;
    height: 75%;
    object-fit: cover;
    margin-top: 50%;
    
    

}

.paraHeading{
    border: 1px solid black;
    border-radius: 50px;
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
}

#dHeadContent{
    display: flex;
    flex-direction: row;
    
}
#dHeadingDiv{
    width: 50%;
}




@media only screen and (min-width: 768px){
    body{
    }
}