html{
    font-family: inter, san-serif;
}
body{
    background-color: #1a1c19;
}
.navdiv{
    width: 100%;
    height: auto;
    border: 1px solid #B1A592;
    border-radius: 50px;
    display: flex;
    flex-direction: rows;
    gap: 5px;
    padding: 1px;
}
.navComponent{
    width: 130px;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 1px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    color:  #B1A592;
    font-size: 24px;
    
}
.navComponent:hover{
    background-color:  #B1A592;
    color: #1a1c19;
}
.firstNavComponent{
    width: 25%;
    height: auto;
    margin: 1px;
    padding: 10px;
    text-align: center;
    background-color: #323025; 
    color: #B1A592;
    border: none;
    border-radius: 50px;
    font-size: 24px;
}
.lastNavComponent{
    margin-left: auto;
    margin-right: 1px; 
}




#content{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-areas: "a b b" "a c d" "a c d";
    grid-template-rows: 35%;
    grid-template-columns: 40% 30% 30%;
}

.contentsection{
    border: 1px solid white;
    border-radius: 30px;
    margin: 10px;
    
}

#a{
    grid-area: a;
    background-color: #dfd6c5;
    
}
#a h1{
    font-size: 20px;
}
#aImageDiv{
    border: 1px solid black;
    height: 100%
}


#b{
    grid-area: b;
    background-color: #8E886D;
}
#b h1{
    font-size: 20px;
}
#bContentDiv{
    
    display: flex;
    flex-direction: rows;
    grid-template-colums: 50%;
    
    width: 100%;
    height: 80%;
}
#bImageDiv{
    grid-area: "img";
    
    border-radius: 20px;
    width: 50%;
    height: 75%;
    margin: auto;
}
#bImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}
#bParaDiv{
    grid-area: "para";
    width: 50%;
}
#bParaHead{
    border: 1px solid black;
    border-radius: 50px;
    width: fit-content;
    padding: 10px;
}
#b hr{
    margin:0px;
    padding: 0px;
}
#bfooter{
    margin-top: none;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    
}
#bfooter p{
    margin: none;
}

#c{
    grid-area: c;
    background-color: #916E58;
}
#c h1{
    font-size: 24px;
}
#c #cImageDiv{
    border: 1px solid black;
}
#cImageDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#d{
    grid-area: d;
    background-color: #B1A48E;
}
#d h1{
    font-size: 24px;
}
#d #dImageDiv{
    border: 1px solid black;
}
#dImageDiv img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    object-fit: cover;
}




@media only screen and (min-width: 768px){
    body{
        
    }
}