html{
    font-family: inter, san-serif;
}
body{
    background-color: #1a1c19;
}








.contentsection{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


#a{
    grid-area: a;
    background-color: #dfd6c5;
    
}
#a h1{
    font-size: 24px;
}
#aImageDiv{
    border: 1px solid black;
    height: 80%;
    overflow: hidden;
}
#aImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}










#b hr{
    margin:0px;
    padding: 0px;
}
#bfooter{
    margin-top: none;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    
}
#bfooter p{
    margin: none;
}

#c{
    grid-area: c;
    background-color: #916E58;
    display: flex;
    flex-direction: column;
}


#cImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
#cImageDiv{
    overflow: hidden;
    border-radius: 20px;
    
}
#cHeading{
    font-size: 36px;
    
}
#cFooter{
    border: 1px solid balck;
}


#d{
    grid-area: d;
    background-color: #B1A48E;
}
#d h1{
    font-size: 36px;
}
#dImageDiv{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;

    
}

#dImageDiv img{
    border-radius: 50%;
    width: 100%;
    height: 100%;

    object-fit: cover;
    

}



#dHeadContent{
    display: flex;
    flex-direction: row;
    
}
#dHeadingDiv{
    width: 50%;
}



#a:hover img{
    transform: scale(1.1);
    transition: transform 1s;
}
#b:hover img{
    transform: scale(1.1);
    transition: transform 1s;
}
#c:hover img{
    transform: scale(1.1);
    transition: transform 1s;
}
#d:hover img{
    transform: scale(1.1);
    transition: transform 1s;
}


@media only screen and (min-width: 480px){
    html{
        min-width: 481px;
    }

    #content{
        display: flex;
        flex-direction: column;
    }
    .navdiv1{
        display: none;
    }
    .navdiv2{
        display: none;
    }
    .navdiv3{
        display: none;
    }


    .navdiv4{
        width: 100%;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        display: flex;
        flex-direction: rows;
        gap: 5px;
        padding: 1px;
    }
    .navComponent4{
        width: 130px;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: 1px;
        
        color:  #B1A592;
        font-size: 24px;
        
    }
    .navComponent4:hover{
        background-color:  #B1A592;
        color: #1a1c19;
    }
    .firstNavComponent4{
        width: 75%;
        height: auto;
        margin: 1px;
        padding: 10px;
        text-align: center;
        background-color: #323025; 
        color: #B1A592;
        border: none;
        border-radius: 50px;
        font-size: 24px;
    }
    .lastNavComponent4{
        width: 25%;
        margin-left: auto;
        margin-right: 1px; 
    }


    #b{
        grid-area: b;
        background-color: #8E886D;
    }
    #bContentDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #bContentDiv2{
        display: none;
    }
    #bImageDiv{
        border: 1px solid red;
        border-radius: 20px;
        width: 100%;
        height: 50vh;
        margin: auto;
        overflow: hidden;
    }
    #bImage{
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }

    #b h1{
        font-size: 24px;
        text-align: center;
    }
    #bParaDiv{
        grid-area: "para";
        width: 100%;
    }


    .paraHeading{
        border: 1px solid black;
        border-radius: 50px;
        width: fit-content;
        padding: 10px;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 600px){
    

    .navdiv1{
        display: none;
    }
    .navdiv2{
        display: none;
    }
    .navdiv4{
        display: none;
    }


    .navdiv3{
        width: 100%;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        display: flex;
        flex-direction: rows;
        gap: 5px;
        padding: 1px;
    }
    .navComponent3{
        width: 130px;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: 1px;
        
        color:  #B1A592;
        font-size: 24px;
        
    }
    .navComponent3:hover{
        background-color:  #B1A592;
        color: #1a1c19;
    }
    .firstNavComponent3{
        width: 75%;
        height: auto;
        margin: 1px;
        padding: 10px;
        text-align: center;
        background-color: #323025; 
        color: #B1A592;
        border: none;
        border-radius: 50px;
        font-size: 24px;
    }
    .lastNavComponent3{
        width: 25%;
        margin-left: auto;
        margin-right: 1px; 
    }

    #bContentDiv{
        display: none;
    }
    #bContentDiv2{
    
        display: flex;
        flex-direction: rows;
        width: 100%;
        height: 80%;
    }
    #bImageDiv2{
        grid-area: "img";
        border-radius: 20px;
        width: 50%;
        height: 75%;
        margin: auto;
        overflow: hidden;
    }
    #bImage2{
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }
    #b h1{
        font-size: 24px;
    }
    #bParaDiv2{
        grid-area: "para";
        width: 50%;
    }
}

@media only screen and (min-width: 801px){
    
    #content{
        border: 1px solid white;
        width: 100%;
        height: 100%;
        display: grid;
        margin-top: 10px;
        grid-template-areas: "a b b" "a c d" "a c d";
        grid-template-rows: 35%;
        grid-template-columns: 40% 30% 30%;
    }

    .navdiv1{
        display: none;
    }
    .navdiv3{
        display: none;
    }
    .navdiv4{
        display: none;
    }


    .navdiv2{
        width: 100%;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        display: flex;
        flex-direction: rows;
        gap: 5px;
        padding: 1px;
    }
    .navComponent2{
        width: 130px;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: 1px;
        
        color:  #B1A592;
        font-size: 24px;
        
    }
    .navComponent2:hover{
        background-color:  #B1A592;
        color: #1a1c19;
    }
    .firstNavComponent2{
        width: 75%;
        height: auto;
        margin: 1px;
        padding: 10px;
        text-align: center;
        background-color: #323025; 
        color: #B1A592;
        border: none;
        border-radius: 50px;
        font-size: 24px;
    }
    .lastNavComponent2{
        width: 25%;
        margin-left: auto;
        margin-right: 1px; 
    }

    #b{
        grid-area: b;
        background-color: #8E886D;
    }
    #bContentDiv{
        display: none;
    }
    #bContentDiv2{
    
        display: flex;
        flex-direction: rows;
        width: 100%;
        height: 80%;
    }
    #bImageDiv2{
        grid-area: "img";
        border-radius: 20px;
        width: 50%;
        height: 75%;
        margin: auto;
        overflow: hidden;
    }
    #bImage2{
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }
    #b h1{
        font-size: 24px;
    }
    #bParaDiv2{
        grid-area: "para";
        width: 50%;
    }


    .paraHeading{
        border: 1px solid black;
        border-radius: 50px;
        width: fit-content;
        padding: 10px;
        text-transform: uppercase;
    }

}

@media only screen and (min-width: 1025px){
    #content{
        border: 1px solid white;
        width: 100%;
        height: 100%;
        display: grid;
        margin-top: 10px;
        grid-template-areas: "a b b" "a c d" "a c d";
        grid-template-rows: 35%;
        grid-template-columns: 40% 30% 30%;
    }

    .navdiv4{
        display: none;
    }
    .navdiv2{
        display: none;
    }
    .navdiv3{
        display: none;
    }


    .navdiv1{
        width: 100%;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        display: flex;
        flex-direction: rows;
        gap: 5px;
        padding: 1px;
    }
    .navComponent1{
        width: 130px;
        height: auto;
        border: 1px solid #B1A592;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: 1px;
        
        color:  #B1A592;
        font-size: 24px;
        
    }
    .navComponent1:hover{
        background-color:  #B1A592;
        color: #1a1c19;
    }
    .firstNavComponent1{
        width: 50%%;
        height: auto;
        margin: 1px;
        padding: 10px;
        text-align: center;
        background-color: #323025; 
        color: #B1A592;
        border: none;
        border-radius: 50px;
        font-size: 24px;
    }
    .lastNavComponent1{
        width: 25%;
        margin-left: auto;
        margin-right: 1px; 
    }

    #b{
        grid-area: b;
        background-color: #8E886D;
    }
    #bContentDiv2{
    
        display: flex;
        flex-direction: rows;
        width: 100%;
        height: 80%;
    }
    #bImageDiv2{
        grid-area: "img";
        border-radius: 20px;
        width: 50%;
        height: 75%;
        margin: auto;
        overflow: hidden;
    }

    #bImage2{
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }
    #b h1{
        font-size: 24px;
    }
    #bParaDiv{
        grid-area: "para";
        width: 50%;
    }


    .paraHeading{
        border: 1px solid black;
        border-radius: 50px;
        width: fit-content;
        padding: 10px;
        text-transform: uppercase;
    }
}